
.hero_button_btn {
  padding-left: 72.5px;
  padding-right: 72.5px;
  /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;*/
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
}
.hero{
  position: relative;
}

.hero_section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: black; */
  background-image:linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) -13.19%,
        rgba(0, 0, 0, 0.85) 94.01%
      );
  /* opacity: 0.3; */
  z-index: 1;

}

@media screen and (min-width: 640px) {
  .hero_section {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) -13.19%,
        rgba(0, 0, 0, 0.85) 94.01%
      ),
      url(../../images/hero/hero-tablet/hero-tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.2) -13.19%,
          rgba(0, 0, 0, 0.85) 94.01%
        ),
        url(../../images/hero/hero-tablet/hero-tablet2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero_section {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) -13.19%,
        rgba(0, 0, 0, 0.85) 94.01%
      ),
      url(../../images/hero/hero-desc/hero-desctop.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.2) -13.19%,
          rgba(0, 0, 0, 0.85) 94.01%
        ),
        url(../../images/hero/hero-desc/hero-desctop2x.jpg);
    }
  }
}

.hero_title {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: var(--bgc-color);
  /* z-index: 1000; */
  position: relative;
  z-index: 10;
}
.hero_descr {
  position: relative;
  z-index: 10;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  text-align: center;
  margin-top: 28px;
  color: var(--bgc-color);
  margin-bottom: 30px;
}

.hero_button_underline {
  border: none;
  height: 1px;
  background: #fff;
  margin-top: 62px;
  margin-bottom: 15px;
  border-radius: 1px;
  opacity: 0.4;
}

/* ARROWS */
.hero_arrow_list {
  display: none;
}
/* SLIDE_NUMBERS */

.hero_slide_number {
  font-family: "Lato", sans-serif;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  width: 32px;
  height: 32px;
  color: #fff;
  opacity: 0.4;
  border: 1px solid #fff;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s;
  position: relative;
  z-index: 10;
  
}
.hero_slide_number:hover {
  opacity: 1;
}
.hero_slide_number:not(:last-child) {
  margin-right: 26px;
}
.hero_slider {
  display: flex;
  justify-content: center;
  align-items: end;
}
.hero_slide_number_section {
  display: flex;  
  justify-content: center;
}

/* MEDIA */

@media screen and (min-width: 640px) {
  .hero_title {
    font-size: 56px;
    max-width: 446px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .hero_button {
    margin-top: 60px;
  }
  .hero_title {
    font-size: 56px;
  }
  .hero_descr {
    font-size: 18px;
    line-height: 150%;
    max-width: 537px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
  }
  .hero_button_underline {
    margin-top: 120px;
  }
  .hero_arrow_list {
    display: flex;
  }
  .hero_arrow_item:not(:last-child) {
    margin-right: 15px;
  }
  .hero_arrow_item {
    position: relative;
  z-index: 10;
  }
  .hero_slider {
    align-items: center;
    margin-top: 25px;
    margin-bottom: 45px;
  }
}

@media screen and (min-width: 1200px) {
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

