.header_logo_img {
  width: 100px;
  height: 44px;
}
.header {
  padding-top: 15px;
  display: flex;
  padding-right: 0;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.header_list {
  display: flex;
}
.burger_icon {
  width: 34px;
  height: 34px;
}

/* display: none on mobile */
.header_number {
  display: none;
}
.header_social_list {
  display: none;
}
.header_phone_icon {
  display: none;
}
.header_link {
  display: none;
}

/* MEDIA */
@media screen and (min-width: 640px) {
  .header_logo_img {
    width: 122px;
    height: 53px;
  }
  .header_number {
    display: block;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    margin-right: 55px;
  }
  .header_auth_nav {
    display: flex;
    align-items: center;
  }
  .header_social_list {
    display: flex;
    margin-right: 55px;
  }
  .header_social_item:not(:last-child) {
    margin-right: 18px;
  }
  .header_phone_icon {
    display: block;
    margin-right: 13px;
  }
}

@media screen and (min-width: 1200px) {
  .header_link {
    display: flex;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: var(--main-color);
  }
  .burger_icon {
    display: none;
  }
  .header_item:not(:last-child) {
    margin-right: 30px;
  }
  .header_logo {
    margin-right: 140px;
  }
  .header_list {
    margin-right: 150px;
  }
}
