.header_logo_img {
  width: 100px;
  height: 44px;
}
.header {
  display: flex;
  padding: 20px;
}
.header_list {
  display: flex;
}
.header_link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
