.hero_modal {
    position: absolute;
    transition: all 0.3s;


    /* right: 200%;
    transform: translateX(100%);
    top: 50px;
    transition: all 0.3s; */
}

.hero_modal_active {
transition: all 0.3s;

    /* position: absolute;
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: 1000; */
}