:root {
    --main-color: #282B22;
    --secondary-color: #3e4b3a;
    --accent-color: #AE7B3C;
    --secondary-bgc-color: #F3F3F3;
    --bgc-color: #FFFFFF;
}

.App {
    font-family: 'Raleway', sans-serif;
    color: var(--main-color);
}


.section_big {
  padding-top: 140px;
  padding-bottom: 140px;
}
.section_small {
  padding-top: 100px;
  padding-bottom: 100px;
}

.App {
    padding: 0 15px;
  }
  
  @media screen and (min-width: 320px) {
    .App {
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media screen and (min-width: 600px) {
    .App {
      max-width: 600px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .App {
      max-width: 1200px;
    }
  }
  